.div-product-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.div-product {
    display: flex;
    flex-direction: column;
}
.div-product-name {
    font-size: 40px;
    font-weight: bold;
}
.div-product-image > img{
    width: 300px;
}